* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #fff5ef;
}

.cardHighlight {
  min-height: 100%;
}

/*navbar*/
.custom-navbar {
  background-color: #fff5ef;
  width: 100vw;
}

/*login*/
#submitActiveBtn {
  background-color: #ed3237;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
}

/*login modal*/
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

/*register*/
.reg-form {
  max-width: 400px;
  margin: 0 auto;
}

#regActiveButton {
  background-color: #47c5de;
}

/*product feature*/
#feature {
  width: 1000px;
}

#productCard {
  background-color: #ed3237;
}

/*product card*/
.product-grid {
  width: 1000px;
}